*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', serif;
}

body {
  height: 100vh;
  background: url('sea.jpg');
}

.banner {
  width: 100%;
  height: 50px;
  background-color: #00ffff1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 32px;
  color: white;
  border: none;
  opacity: 0.7;
  transition: 1s;
  letter-spacing: 1px;
}

button:hover {
  cursor: pointer;
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.banner button {
  width: 55px;
}

.submit {
  background-color: #0d7c51;
}

.reset {
  background-color: #ae2c2c;
  margin-left: 10px;
}

.word-input {
  height: 32px;
  box-sizing: border-box;
  background-color: #e7ecf7;
  font-size: 16px;
  border: none;
  margin-right: 10px;
  padding: 2px 7px 2px 7px;
  transition: 1s;
}

.word-input:focus {
  outline: none;
  background-color: white;
}

.main {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.level {
  display: grid;
  grid-template-columns: min(11vw, 118px) 1fr 28vw 50px;
  align-items: center;
  padding: 0 2vw 0 2vw;
}

.category {
  font-size: min(10vw, 118px);
}

.rules {
  color: white;
}

.rules h4 {
  margin-bottom: 1vh;
  font-size: min(2.2vw, 20px);
}

.rules ul {
  font-size: min(1.9vw, 16px);
}

.response {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.response button {
  width: min(50px, 10vw);
  height: min(50px, 10vw);
  color: white;
  margin: 10px 0 10px 0;
}

.yes {
  background-color: #3d0a84;
}

.no {
  background-color: #0c5c76;
}

.c {
  background-color: #00bfff6b;
}

.ck {
  background-color: #0080809e;
}

.k {
  background-color: #8a2be2a8;
}

.word {
  position: relative;
  color: white;
  font-size: min(6vw, 90px);
  top: -300px;
  line-height: 1;
  letter-spacing: 4px;
  text-align: center;
  transition: 2s;
}

.word span {
  display: inline-block;
  position: relative;
}

.word.level-1 {
  top: 0;
}
.word.level-2 {
  top: 100%;
}
.word.level-3 {
  top: 200%;
}

.word .part1 {
  transform: translate(-0.7ch);
  transition: 2s;
}

.word .part2 {
  transform: translateX(0.7ch);
  transition: 2s;
}

.word:has(.blank.revealed) .part1,
.word:has(.blank.revealed) .part2 {
  transform: translateX(0px);
}

.blank {
  color: transparent;
  width: 1ch;
  transition: 2s;
}

.level-2 .blank {
  width: 2ch;
}

.blank:after {
  content: '';
  width: 100%;
  position: absolute;
  display: block;
  border-bottom: 0.1ch solid white;
  transition: 2s;
}

.blank.revealed {
  color: pink;
}

.blank.revealed:after {
  border-bottom: 0.1ch solid transparent;
}

.level-1 .blank.revealed {
  color: #e68d9d;
}
