*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  height: 100vh;
  background: url('sea.jpg');
  
}

button {
  height: 32px;
  background-color: #838383;
  border: 1px solid #949494;
  border: none;
  opacity: .7;
  transition: 1s;
  color: white;
  letter-spacing: 1px;
}

.invisible {
  opacity: 0;
}

.reset {
  background-color: #bc2d23de;
  margin-left: 10px;
}

button:hover {
  cursor: pointer;
  opacity: 1;
}

.word-input {
  height: 32px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #949494;
  border: none;
  padding: 2px 7px 2px 7px;
  margin-right: 10px;
  transition: 1s;
}

.word-input:focus {
  outline: none;
  background-color: #e7ecf7;
}

.banner {
  width: 100%;
  height: 50px;
  background-color: #00ffff1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
}

.rules {
  width: 25vw;
  color: white;
  font-size: 2vw;
}

.rules h4 {
  margin-bottom: 20px;
}


.rules span {
  text-decoration: wavy;
}

.level {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.space {
  width: 49vw;
}

.response button {
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  color: white;
  margin: 25px 0 25px 0;
}

.yes {
  background-color: #11678b;
  background-color: #3d0a84;
}

.no {
  background-color: #0c5c76;
}

.category {
  font-size: 110px;
  font-size: 11vw;
  width: 10vw;
}

.c{
  height: 100%;
  background-color: #00bfff6b;
}

.ck {
  height: 100%;
  background-color: #0080809e;
}

.k {
  height: 100%;
  background-color: #8a2be2a8;
}

.word {
  position: absolute;
  color: white;
  font-size: 7vw;
  left: 26vw;
  top: -100px;
  transition: 2s;
  line-height: 1;
  letter-spacing: 4px;
}

.word.small {
  left: 28vw;
}
.word.medium {
  left: 24vw;
}
.word.large {
  left: 18vw;
}

.word span {
  display: inline-block;
}

.word.level-1 {
  top: 16%;
}

.word.level-2 {
  top: 49%;
}

.word.level-3 {
  top: 82%;
}

.word .part1 {
  transition: 2s;
  transform: translateX(-30px);
}

.word .part2 {
  transition: 2s;
  transform: translateX(30px);
}

.word:has(.blank.revealed) .part1,
.word:has(.blank.revealed) .part2 {
  transform: translateX(0px);
}

.blank {
  color: transparent;
  border-bottom: 4px solid white;
  width: 50px;
  transition: 2s;
}

.blank.revealed {
  color: pink;
  width: auto;
  border: none;

}

.level-1 .blank.revealed {
  color: #e68d9d;
}

